<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="webjars/jquery-ui/1.12.1/jquery-ui.css"/>
    
    <script src="webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7-1/js/bootstrap.js"></script>
    <script src="webjars/d3js/5.5.0/d3.js"></script>
    <script src="webjars/jquery-ui/1.12.1/jquery-ui.js"></script>
    <script src="webjars/validate.js/0.12.0/validate.js"></script>
    <script src="webjars/requirejs/2.3.6/require.js"></script>
</head>
<body>
<h1>Without PushBuilder</h1>
<p class="alert-success" th:each="i : ${#numbers.sequence(1, 100)}" th:text="|${name}: ${message}|">Message</p>
</body>
</html>